<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'minicrm/styles.css' %}"/>
</head>

<body>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'minicrm' %}">мини<b>crm</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'minicrm' %}">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'artistlist' %}">Артисты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'personal' %}">Личные проекты</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Добавить
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'addproject' %}">+ Проект</a></li>
            <li><a class="dropdown-item" href="{% url 'addartist' %}">+ Артиста</a></li>
            <li><a class="dropdown-item" href="{% url 'addpersonal' %}">+ Личный проект</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin">Админка</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" data-bs-theme="light">
    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>io продакшн</p>
        </footer>
    </div>
</div>
</body>
</html>
